.main__div_first {
  background: var(--gray-2, #212529);
  display: flex;
  padding: 15.625rem 0rem;
  flex-direction: column;
  align-items: center;
  gap: 2.75rem;
  margin: 0 auto;
}

.main__title_first {
  color: var(--gray-6, #EDF2FF);
  text-align: center;
  font-family: var(--font-family, 'Inter', sans-serif);
  font-size: var(--font-size-title-1, clamp(3.125rem, 6vw, 3.25rem));
  font-style: normal;
  font-weight: var(--font-weigth-title, 600);
  line-height: var(--line-height-title-1, 140%);
}

span {
  color: var(--brand-1, #4C6EF5);
  font-family: var(--font-family, 'Inter', sans-serif);
  font-size: clamp(3.125rem, 6vw, 3.25rem);
  font-style: normal;
  font-weight: var(--font-weigth-title, 600);
  line-height: var(--line-height-title-1, 140%);
}

.main__paragraph_first {
  color: var(--gray-4, #ADB5BD);
  text-align: center;
  width: 48.125rem;
  font-family: var(--font-family, 'Inter', sans-serif);
  font-size: var(--font-size-text-1, clamp(1rem, 1.5vw, 1.25rem));
  font-style: normal;
  font-weight: var(--font-weight-text-1-2-3, 400);
  line-height: var(--line-heigth-text, 150%);
}

.main__button--about {
  border: 0.0625rem solid var(--brand-1, #4C6EF5);
  background: var(--brand-1, #4C6EF5);
  color: var(--gray-7, #F8F9FA);
  text-align: center;
  font-family: var(--font-family, 'Inter', sans-serif);
  font-size: var(--font-size-text-3-4, clamp(0rem, 2vw, 1rem));
  font-style: normal;
  font-weight: var(--font-weight-text-4, 600);
  line-height: var(--line-heigth-text, 150%);
  display: flex;
  height: 3.75rem;
  padding: 1.25rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}

.main__section_second {
  background: var(--gray-1, #191C1F);
  padding: 3.125rem 0rem;
}

.main__div_second {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 9.75rem;
  margin-bottom: 5rem;
  max-width: 65%;
  margin: 0rem auto;
}

.main_title_about {
  color: var(--gray-6, #EDF2FF);
  font-family: var(--font-family, 'Inter', sans-serif);
  font-size: var(--font-size-title-2, clamp(1.5rem, 3vw, 2.5rem));
  font-style: normal;
  font-weight: var(--font-weigth-title, 600);
  line-height: var(--line-height-title-2-3, 160%);
  display: flex;
  width: 100%;
  height: 2.875rem;
  flex-direction: column;
  justify-content: center;
}

.main__paragraph_second {
  color: var(--gray-5, #CED4DA);
  text-align: justify;
  font-family: var(--font-family, 'Inter', sans-serif);
  font-size: var(--font-size-text, clamp(1rem, 1.5vw, 1.25rem));
  font-style: normal;
  font-weight: var(--font-weight-text-1-2-3, 400);
  line-height: var(--line-heigth-text, 150%);
  width: 100%;
}

.main__section_third {
  background: var(--gray-2, #212529);
  display: flex;
  align-items: flex-start;
  gap: 6.25rem;
  max-width: 65%;
  margin: 3.125rem auto 6.25rem auto;
}

.main__div_questions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.0625rem;
  position: sticky;
  top: 8.75rem;
}

.main__title_second {
  color: var(--gray-6, #EDF2FF);
  font-family: var(--font-family, 'Inter', sans-serif);
  font-size: var(--font-size-title-2, clamp(1.5rem, 3vw, 2.5rem));
  font-style: normal;
  font-weight: var(--font-weigth-title, 600);
  line-height: var(--line-height-title-2-3, 160%);
}

.main__paragraph_questions {
  color: var(--gray-4, #ADB5BD);
  text-align: justify;
  font-family: var(--font-family, 'Inter', sans-serif);
  font-size: var(--font-size-text, clamp(1rem, 1.5vw, 1.25rem));
  font-style: normal;
  font-weight: var(--font-weight-text-1-2-3, 400);
  line-height: var(--line-heigth-text, 150%);
  margin-top: 1.25rem;
}

.main__button--enter {
  border: 0.0625rem solid var(--brand-1, #4C6EF5);
  background: var(--brand-1, #4C6EF5);
  display: flex;
  height: 3.75rem;
  padding: 1.25rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  color: var(--gray-7, #F8F9FA);
  text-align: center;
  font-family: var(--font-family, 'Inter', sans-serif);
  font-size: var(--font-size-text-3-4, clamp(0rem, 2vw, 1rem));
  font-style: normal;
  font-weight: var(--font-weight-text-4, 600);
  line-height: var( --line-heigth-text, 150%);
}

.main__title_third {
  color: var(--gray-6, #EDF2FF);
  text-align: center;
  font-family: var(--font-family, 'Inter', sans-serif);
  font-size: var(--font-size-title-3, clamp(1.8rem, 1vw, 2rem));
  font-style: normal;
  font-weight: var(--font-weigth-title, 600);
  line-height: var(--line-height-title-2-3, 160%); 
}

.main__div_questions_second {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.75rem;
}

.main__section_last {
  display: flex;
  align-items: flex-start;
  gap: 12.5rem;
  max-width: 65%;
  margin: 0 auto 6.25rem auto;
}

.main__div_comments {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-start;
  gap: 6.25rem;
}

.main__paragraph_comments {
  color: var(--gray-5, #CED4DA);
  text-align:justify;
  font-family: var(--font-family, 'Inter', sans-serif);
  font-size: var(--font-size-text, clamp(1rem, 1.5vw, 1.25rem));
  font-style: normal;
  font-weight: var(--font-weight-text-1-2-3, 400);
  line-height: var( --line-heigth-text, 150%);
}

p {
  color: var(--gray-4, #ADB5BD);
  font-family: var(--font-family, 'Inter', sans-serif);
  font-size: var(--font-size-text-3-4, 1rem);
  font-style: normal;
  font-weight: var(--font-weight-text-1-2-3, 400);
  line-height: var( --line-heigth-text, 150%);
}

.student__card {
  display: flex;
}

.student__card > div { 
  min-width: 35%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0rem;
}

.main__div_last {
  background: var(--brand-1, #4C6EF5);
  display: flex;
  box-sizing: border-box;
  padding: 2.1875rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.1875rem;
  width: 35%;
  position: sticky;
  top: 10.625rem;
}

.main__title_last {
  color: var(--gray-7, #F8F9FA);
  font-family: var(--font-family, 'Inter', sans-serif);
  font-size: var(--font-size-title-2, clamp(1.5rem, 3vw, 2.5rem));
  font-style: normal;
  font-weight: var(--font-weigth-title, 600);
  line-height: var(--line-height-title-2-3, 160%);
}

.main__paragraph_last {
  color: var(--gray-7, #F8F9FA);
  text-align: justify;
  font-family: var(--font-family, 'Inter', sans-serif);
  font-size: var(--font-size-text, clamp(1rem, 1.5vw, 1.25rem));
  font-style: normal;
  font-weight: var(--font-weight-text-1-2-3, 400);
  line-height: var(--line-heigth-text, 150%);
}

.modalController {
  padding: 2.5rem 1.75rem;
  width: 31.25rem;
  border: 0.125rem solid var(--brand-1, #4C6EF5);
  background-color: var(--gray-2, #212529);
}

.modalController::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

.modal__container {
  width: 31.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.875rem;
}

.modal__div {
  display: flex;
  justify-content: space-between;
}

.modal__div > h1 {
  color: var(--gray-7, #F8F9FA);
  font-family: var(--font-family, 'Inter', sans-serif);
  font-size: var(--font-size-title-3, 2rem);
  font-style: normal;
  font-weight: var(--font-weigth-title, 600);
  line-height: var(--line-height-title-2-3, 160%);
  text-align: center;
}

.modal__div > button {
  padding: 0rem 0.75rem;
  background-color: var(--gray-3, #343A40);
  border-radius: 0.25rem;
  text-align: center;
  border: none;
  font-size: var(--font-size-text-1, 1.25rem);
  color: var(--gray-4, #ADB5BD);
  line-height: var(--line-height-title-2-3, 160%);
  font-style: normal;
  font-weight: var(--font-weight-text-4, 600);
  font-family: var(--font-family, 'Inter', sans-serif);
}

.modal__container > p {
  color: var(--gray-4, #ADB5BD);
  font-family: var(--font-family, 'Inter', sans-serif);
  font-size: var(--font-size-text-3-4, 1rem);
  font-style: normal;
  font-weight: var(--font-weight-text-1-2-3, 400);
  line-height: var(--line-heigth-text, 150%);
}

.modal__div_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.9375rem;
}

#email {
  width: 100%;
  height: 3.75rem;
  padding-inline: 1.25rem;
  border: 0.0625rem solid var(--gray-1, #191C1F);
  background: var(--gray-1, #191C1F);
  color: var(--gray-4, #ADB5BD);
  font-family: var(--font-family, 'Inter', sans-serif);
  font-size: var(--font-size-text-1, 1.25rem);
  font-style: normal;
  font-weight: var(--font-weight-text-1-2-3, 400);
  line-height: var(--line-heigth-text, 150%);
}

.modal__button {
  width: 100%;
  height: 3.75rem;
  padding: 0;
  border: 0.0625rem solid var(--brand-1, #4C6EF5);
  background-color: var(--brand-1, #4C6EF5);
  color: var(--gray-7, #F8F9FA);
  text-align: center;
  font-style: normal;
  line-height: var(--line-heigth-text, 150%);
  font-family: var(--font-family, 'Inter', sans-serif);
  font-weight: var(--font-weight-text-4, 600);
  font-size: var(--font-size-text-3-4, 1rem);
}

@media(max-width: 1024px) {
  .main__paragraph_first {
      width: 70%;
      text-align: center;
  }

  .main__div_second {
      max-width: 85%
  }

  .main__section_third {
      max-width: 85%;
  }

  .main__section_last {
      max-width: 85%;
  }

  .main__div_comments {
      gap: 3.25rem;
  }

  .student__card {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
  }

  .student__card > div {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 1rem;
  }
}

@media(max-width: 768px) {
  .main__div_second {
      max-width: 92%;
      flex-direction: column;
      gap: 1.75rem;
  }

  .main_title_about {
      text-align: center;
  }

  .main__section_third {
      max-width: 92%;
      flex-direction: column;
  }

  .main__title_second {
      text-align: center;
  }

  .main__div_questions {
      flex-direction: column;
      gap: 2.0625rem;
      position: static;
      align-items: normal;
  }

  .main__section_last {
      max-width: 92%;
      flex-direction: column-reverse;
      gap: 2.5rem;
  }

  .main__div_last {
      position: static;
      width: 100%;
      gap: 1.1875rem;
  }

  .main__div_comments {
      width: 100%;
  }
}